 {% extends 'base.html' %}
 {% block content %}

<h1>Shot On Target Market</h1>

<p>Welcome to Shot On Target Market❗<br>
    🔥Your One-Stop Market, Always on Target!🔥
</p>

<a href="{% url 'main:create_product' %}">
    <button>+Add</button>
</a>

<hr>
{% if not product_list %}
<p>Empty Product</p>

{% else %}
{% if not product_list %}
    <p>Empty Product</p>
{% else %}
    <ul>
        {% for product in product_list %}
            <li>
                {% if product.thumbnail %}
                <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
                <br />
                {% endif %}
                {{ product.name }} - Rp{{ product.price }}
                <a href="{% url 'main:show_detail' product.id %}">
                    <button>Detail</button>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endif %}

<h3>Created by:</h3>
<h5>Name:</h5>
<p>{{  name  }}</p>
<h5>NPM:</h5>
<p>{{  npm  }}</p>
<h5>Class:</h5>
<p>{{  class  }}</p>

{% endblock content %}